html, body{
	margin: 0;
	padding: 0;
	font-family: Raleway;
	background-color: #0a0a0f;
	color: #727272;
	scroll-behavior: smooth;
}

header, footer{
	display: flex;
	flex-direction: row;
	background-color: transparent;
	padding-top: 2rem;
}

footer{
	justify-content: center;
	padding-top: 0;
}

footer div{
	margin: 1.5rem;
	text-transform: uppercase;
	box-sizing: border-box;
}

nav{
	margin-top: 1rem;
	margin-left: 5rem;
}

nav a{
	margin-left: 1rem;
	text-decoration: none;
	color: #727272;
}

.active, nav a:hover{
	color: #ff6666;
	border-bottom: solid #ff6666;
}

.logo img {
	margin-left: 5rem;
	width: 10rem;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding-left: 5rem;
	padding-right: 5rem;
}

main p{
	font-size: 1.5rem;
}

.git{
	margin-top: 5rem;
	margin-bottom: 5rem;
	background-color: blue;
	padding: 1.5rem;
	background-color: #b3b3cc;
	border-radius: .75rem;
}

.git img{
	width: 10rem;
}

.git td p{
	font-size: 1.5rem;
	margin-left: 3rem;
	text-align: center;
}

.author{
	text-transform: lowercase;
 	box-sizing: border-box;
	color: #ff6666;
}

.animation p {
	font-size: 2.5rem;
	color: #727272;
	overflow: hidden;
	border-right: .15em solid #ff6666;
	white-space: nowrap;
	margin: 0 auto;
	animation: 
		typing 2s steps(6, end),
		blink .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #ff6666 }
}

.contacts-div{
	padding: 5rem;
	background-color: transparent;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contacts strong{
	color: #ffffff;
}

.contacts a{
	text-decoration: none;
	color: #727272;
}

.about-div{
	margin-top: 2rem;
}

.about{
	padding-left: 3rem;
	padding-right: 3rem;
	text-align: justify;
}

.git a{
	text-decoration: none;
	color: #0a0a0f;
}

.gith1{
	font-size: 1.5rem;
	color: #ff6666;
}

.git-projects{
	text-align: center;
}

.contacts a:hover{
	border-right: .05em solid #ff6666;
	animation:
    	blink .5s step-end infinite;
}

.me{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.me table tr td{
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
}

.me img{
	width: 100%;
}

.left{
	text-align: right;
}

.left p{
	margin-right: 2rem;
}

.right{
	text-align: left;
}

.right p{
	margin-left: 2rem;
}

.desc{
	font-size: 1.25rem;
}

.important{
	font-size: 2rem;
	color: #ffffff;
}
